{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blockchain-Sim | {% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
        <link href="{% static "style.css" %}" rel="stylesheet" />
        <link href="{% static "bootstrap.min.css" %}" rel="stylesheet" />
       </head>
    <body>
        <!-- below two divs control the behaviour of the footer. padding-bottom is the footer height -->
        <div id="page-container" style="position:relative; min-height:100vh;">
            <div id="content-wrap"  style="padding-bottom:5rem;">

                <!-- Navigation-->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
                    <div class="container">
                        <a class="navbar-brand" href="{% url 'bcsim:home' %}">Blockchain-Sim</a>
                        {% if request.session.miner_id %}                
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                            <div class="collapse navbar-collapse" id="navbarResponsive">
                                <ul class="navbar-nav ml-auto"> 
                                    <li class="nav-item"><a class="nav-link" href="{% url 'bcsim:mine' %}">Minedrift</a></li>
                                    {% if blockchain.has_tokens %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'bcsim:market' %}">Markedsplads</a></li>
                                    {% endif %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'bcsim:participants' %}">Deltagere</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'bcsim:blockchain' %}">Blockchain</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'bcsim:home' %}">Min bruger</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </nav>
                
                <main class="container mt-4 mt-lg-5">

                    <!-- Potential messages -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-dark">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <!-- Page content--> 
                    {% block content %}  {% endblock %}
                    
                    <!-- Minimal white space above footer -->
                    <div class="mb-5 mt-5">&nbsp</div>
                </main>          
        
            </div> <!-- End of content-wrap -->

            <!-- Footer -->
            <footer id="footer" class="bg-light" style="position:absolute; bottom:0; width:100%;">
                <!-- footer when size >= large -->
                <nav class="py-3 d-none d-lg-block bg-light">
                    <div class="container">
                        <div class="d-flex text-center justify-content-between flex-row">
                            <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-4 pb-5 pb-md-0" width="240" alt="dataekspeditioner-logo"></a>
                            <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-5"  width="310"  alt="Københavns Universitet"></a>
                            <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pt-1 pr-3" width="110" alt="Novo Nordisk Fonden"></a> 
                        </div>
                    </div>
                </nav>

                <!-- footer when small <= size < large -->
                <div class="d-none d-sm-block d-lg-none">
                    <nav class="py-4 px-sm-5 bg-light">
                        <div class="d-flex justify-content-between flex-row bg-light">
                            <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-3 pl-3" width="150" alt="dataekspeditioner-logo"></a>
                            <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-2" width="150"  alt="Københavns Universitet"></a>
                            <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pr-3" width="80" alt="Novo Nordisk Fonden"></a> 
                        </div>
                    </nav>  
                </div>

                <!-- footer when size < small -->
                <div class="d-sm-none">
                    <nav class="py-4 px-sm-5 bg-light">
                        <div class="d-flex justify-content-between flex-row bg-light">
                            <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-2 pl-2" width="130" alt="dataekspeditioner-logo"></a>
                            <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-2" width="120"  alt="Københavns Universitet"></a>
                            <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pr-3" width="70" alt="Novo Nordisk Fonden"></a> 
                        </div>
                    </nav>  
                </div>
            </footer>
            <!-- End of footer -->
        </div> <!-- End of page-container-->

        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

        <!-- Core theme JS-->
        <!-- <script src="js/scripts.js"></script> -->

        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.4.1"></script>
        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>

        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>