{% for block in blocks %}
    <div class="card" style="background-color:{{ block.miner.color}}">
        <div class="card-body">
            <p class="mb-1">Blok #{{ block.block_num }}</p> 
            <p class="mb-1">Minearbejder: {{ block.miner.name }}</p>
            <p class="mb-1">Seneste hash: <small>{{ block.prev_hash }}</small></p>
            <p class="mb-1">Payload: {{ block.payload }}</p>
            <p class="mb-1">Nonce: {{ block.nonce }}</p>
        </div>
    </div>
    {% if block.block_num > 0 %}
        <div class="row" style="height:20px">
            <div class="col-6 border-right" style='border-width:3px !important'></div>
            <div class="col-6 border-left" style='border-width:3px !important'></div>
        </div>
    {% endif %}
{% endfor %}
