{% for block in blocks %}
    <div class="card mb-2" style="background-color:{{ block.miner.color}}">
        <div class="card-body">
            <p class="mb-1">Blok-ID: {{ block.block_id }}</p> 
            <p class="mb-1">Minearbejder: {{ block.miner.name }}</p>
            <p class="mb-1">Seneste hash: <small>{{ block.prev_hash }}</small></p>
            <p class="mb-1">Payload: {{ block.payload }}</p>
            <p class="mb-1">Nonce: {{ block.nonce }}</p>
        </div>
    </div>
{% endfor %}
