{% extends "bcsim/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Hjem{% endblock %}

{% block content %}


<h4 class="mb-4">Velkommen til Blockchain-Sim</h4>

{% if miner %}

  {% include 'bcsim/business_card.html' %}

  <div class="alert alert-secondary">
      Hvis du ønsker at deltage i eller oprette en anden blockchain, så skal du først <a href = "{% url 'bcsim:logout' %}">logge af</a> blockchainen med ID = {{ miner.blockchain.id }}.
  </div>

{% else %} 

<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Skab ny blockchain
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <form action="{% url 'bcsim:home' %}" method="post">
                {% csrf_token %}
                {{ create_form|crispy }}
                <div class="d-flex justify-content-center">
                    <button type="submit" name="create_bc" value ="submit" class="btn btn-outline-primary my-2">Skab blockchain</button>
                </div>
            </form>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Opret ny minearbejder i eksisterende blockchain
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <form action="{% url 'bcsim:home' %}" method="post">
                {% csrf_token %}
                {{ join_form|crispy }}
                <div class="d-flex justify-content-center">
                    <button type="submit" name="join_bc" value ="submit" class="btn btn-outline-primary my-2">Opret minearbejder</button>
                </div>
            </form>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Log på blockchain med eksisterende minearbejder-ID
        </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            <form action="{% url 'bcsim:home' %}" method="post">
                {% csrf_token %}
                {{ login_form|crispy }}
                <div class="d-flex justify-content-center">
                    <button type="submit" name="login" value ="submit" class="btn btn-outline-primary my-2">Log på blockchain</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

{% endif %}
{% endblock content %}


{% block javascript %}
<script>

{% if expand == 'first' %}
    document.getElementById('collapseOne').classList.add('show')        
{% elif expand == 'second' %}
    document.getElementById('collapseTwo').classList.add('show')        
{% elif expand == 'third' %}
    document.getElementById('collapseThree').classList.add('show')            
{% endif %}
    
</script>

{% endblock javascript %}


