{% extends "bcsim/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}

<h4 class="mb-4">Velkommen til Blockchain-Sim</h4>

<div class="row">
    <div class="col col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                Deltag i eksisterende blokkæde
            </div>
            
            <div class="card-body container">
                <form action="{% url 'bcsim:home' %}" method="post">
                    {% csrf_token %}
                    {{ join_form|crispy }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" name="join_bc" value ="submit" class="btn btn-outline-primary my-2">Deltag</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Col with options for "hosts" -->
    
    <div class="col col-12 col-lg-6 mt-5 mb-3 my-lg-0">
        <div class="card mb-4">
            <div class="card-header">
                Skab en ny blokkæde
            </div>
            <div class="card-body container">
                <form action="{% url 'bcsim:home' %}" method="post">
                    {% csrf_token %}
                    {{ create_form|crispy }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" name="create_bc" value ="submit" class="btn btn-outline-primary my-2">Skab blokkæde</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}