{% extends "bcsim/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Inviter{% endblock %}

{% block content %}

<h4 class="mb-4"><span class="text-black-50">Blockchain [{{ blockchain.id }}]</span>: {{ blockchain.title }}</h4>      


<div class="p-3 mb-5 card" >
    Du er logget på blockchainen "{{ blockchain.title }}" (blokckchain ID = {{ blockchain.id }}).
    <br>
    Dit navn/holdnavn er "{{ miner.name}}" (minearbejder-ID = {{ miner.id }}).
</div>

<h6>Inviter nye deltagere/hold til denne blockchain</h6>

<div class="d-flex mb-4">
    <input class="form-control" type="text" 
        value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% url 'bcsim:home' %}?blockchain_id={{ blockchain.id }}" id="join_link" style="width:350px">
    <button class="btn btn-primary btn-sm" onclick="copy_link('join_link')">Kopier</button>
</div>

<h6>Inviter deltagere til dit hold ("{{ miner.name }}")</h6>

<div class="d-flex mb-5">
    <input class="form-control" type="text" 
        value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% url 'bcsim:home' %}?blockchain_id={{ blockchain.id }}&miner_id={{ miner.id }}" id="join_team_link" style="width:350px">
    <button class="btn btn-primary btn-sm" onclick="copy_link('join_team_link')">Kopier</button>
</div>

{% endblock content %}



{% block javascript %}

<script>
    function copy_link(id) {
        var link_text = document.getElementById(id);
        link_text.select();
        link_text.setSelectionRange(0, link_text.value.length);
        document.execCommand("copy")
    }
</script>

{% endblock %}