{% extends "bcsim/base.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block title %}Markedsplads{% endblock %}

{% block content %}

{% include 'bcsim/page_header.html' %}

<div class="row mt-5">
    <div class="col-12 col-lg-4">
        <h4>Mine tokens</h4>
        <div class="table-responsive mb-5">
            {% if my_tokens.count > 0  %}
            <table class="table table-sm table-striped text-center">
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Pris</th>
                        <th></th>
                    </tr>
                </thead>
                    <tbody>
                    {% for token in my_tokens %}
                        {% if token.owner == miner %}                        
                            <tr>
                                <td>{{ token.small_svg|safe}}</td>
                                    {% if token.price %}
                                        <td class="align-middle">    
                                            {{ token.price }}
                                        </td>
                                    {% else %}
                                    <td class="align-middle">
                                        <form class="pl-3" action="{% url 'bcsim:market' %}" method="POST" id="price_form_{{ token.id }}">
                                            {% csrf_token %}
                                            {{ forms|get_item:token.id|crispy }}
                                            <input type="hidden" name="token_id" value="{{ token.id }}">
                                        </form> 
                                    </td>
                                    {% endif %}
                                </td>
                                <td class="mt-2">
                                    {% if not token.price %}
                                        <button class="btn btn-secondary text-nowrap" type="submit" form="price_form_{{ token.id }}">Sæt til salg</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
            </table>
            {% else %}
                <i>Du har pt. ingen tokens </i>
            {% endif %}
        </div>
    </div>
    <div class="col-0 col-lg-1"></div>

    <div class="col-12 col-lg-7">
        <h4>Køb tokens</h4>
        <div class="table-responsive">
            <table class="table table-sm table-striped" >
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Sælger</th>
                        <th>Pris</th>
                        <th>Køb</th>
                    </tr>
                </thead>
                <tbody>
                {% for token in tokens %}
                    {% if not token.in_queue_for_initial_transaction %}
                        <tr>
                            <td>&nbsp&nbsp{{ token.small_svg|safe}}</td>
                            <td class="align-middle">{{ token.owner }}</td>
                            <td class="align-middle">
                                {% if token.price %}
                                    {{ token.price }}
                                {% else %}
                                    Ingen
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {% if token|miner_can_buy:miner %}
                                    <form action="{% url 'bcsim:buy_token' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="token_id" value="{{ token.id }}">
                                        <input type="hidden" name="seller_id" value="{{ token.owner.id }}">
                                        <button class="btn btn-secondary">KØB</button>
                                    </form>
                                {% else %}
                                    {{ token|reason_miner_cannot_buy:miner }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}



{% block javascript%}
{% endblock javascript %}
