{% extends "bcsim/base.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block title %}Markedsplads{% endblock %}

{% block content %}

{% include 'bcsim/page_header.html' %}

<div class="row mt-5">
    <div class="col-4">
        <h3>Mine tokens</h3>
        <div class="table-responsive mb-5">
            <table class="table table-sm table-striped">
                {% if my_tokens.count > 0  %}
                    {% for token in my_tokens %}
                        {% if token.owner == miner %}
                            <div class="d-flex">
                                <div class="mr-2">{{ token.small_svg|safe}}&nbsp&nbsp</div>
                                {% if token.price %}
                                    {{ token.price }}
                                {% else %}
                                    <form action="{% url 'bcsim:market' %}" method="POST">
                                        {% csrf_token %}
                                        {{ forms|get_item:token.id|crispy }}
                                        <input type="hidden" name="token_id" value="{{ token.id }}">
                                        <button class="btn btn-secondary">Sæt til salg</button>
                                    </form> 
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <i>Du har pt. ingen tokens </i>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="col-8">
        <h3>Køb tokens </h3>
        <div class="table-responsive">
            <table class="table table-sm table-striped" >
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Ejer</th>
                        <th>Pris</th>
                        <th>Køb</th>
                    </tr>
                </thead>
                {% for token in tokens %}
                    {% if not token.in_queue_for_initial_transaction %}
                        <tr>
                            <td>&nbsp&nbsp{{ token.small_svg|safe}}</td>
                            <td>{{ token.owner }}</td>
                            <td>{{ token.price }}</td>
                            <td>
                                {% if token|miner_can_buy:miner %}
                                    <form action="{% url 'bcsim:buy_token' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="token_id" value="{{ token.id }}">
                                        <input type="hidden" name="seller_id" value="{{ token.owner.id }}">
                                        <button class="btn btn-secondary">KØB</button>
                                    </form>
                                {% else %}
                                    {{ token|reason_miner_cannot_buy:miner }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}



{% block javascript%}
{% endblock javascript %}
