{% extends "bcsim/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Markedsplads{% endblock %}


{% block content %}
    <h2>Mine tokens</h2>
    <div class="table-responsive mb-5">
        <table class="table table-sm table-striped" >
            <thead>
                <tr>
                    <th>Ejer</th>
                    <th>Trade in process</th>
                    <th>Token</th>
                    <th>Pris</th>
                </tr>
            </thead>
            {% for token in tokens %}
                {% if token.owner == miner %}
                    <tr>
                        <td>{{ token.owner }}</td>
                        <td>{{ token.trade_in_process }}</td>
                        <td>{{ token.small_svg|safe}}</td>
                        <td>
                            {% if token.price %}
                                {{ token.price }}
                            {% else %}
                                <form action="{% url 'bcsim:market' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="d-flex">
                                        {{ form |crispy }}
                                        <input type="hidden" name="token_id" value="{{ token.id }}">
                                        <button class="btn btn-secondary">Sæt til salg</button>
                                    </div>     
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <h2>Alle tokens </h2>
    <div class="table-responsive">
        <table class="table table-sm table-striped" >
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Price</th>
                    <th>Trade in process</th>
                    <th>For sale</th>
                    <th>Seed</th>
                    <th>Token</th>
                    <th>Køb</th>
                </tr>
            </thead>
            {% for token in tokens %}
                <tr>
                    <td>{{ token.owner }}</td>
                    <td>{{ token.price }}</td>
                    <td>{{ token.trade_in_process }}</td>
                    <td>{{ token.is_for_sale }}</td>
                    <td>{{ token.seed }} </td>
                    <td>{{ token.small_svg|safe}}</td>
                    {% if token.owner %}
                        {% if token.price %}
                            {% if token.owner != miner %}
                                {% if not token.trade_in_process %}
                                    <td>
                                        <form action="{% url 'bcsim:buy_token' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="token_id" value="{{ token.id }}">
                                            <input type="hidden" name="seller_id" value="{{ token.owner.id }}">
                                            <button class="btn btn-secondary">KØB</button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td>
                                        Handel i process
                                    </td>
                                {% endif %}
                            {% else %}
                                <td>Din egen token</td>
                            {% endif %}
                        {% else %}
                            <td>Ikke til salg</td>
                        {% endif %}
                    {% else %}
                        <td>Har ingen ejer endnu</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}



{% block javascript%}
{% endblock javascript %}
