{% extends "bcsim/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Mine{% endblock %}

{% block content %}

{% if request.session.miner_id %}
    <h2 class="mb-3 mt-lg-5">Blockchain <span class="text-black-50">[{{ blockchain.id }}]</span></h2>      
    <div class="card mt-3 mb-5 pt-3">
        <ul>
            <li>Du deltager i blokkæden som miner med ID '{{ request.session.miner_id }}'<br></li>
            <li><a href="{% url 'bcsim:logout' %}">Forlad blokkæden</a></li>
        </ul>
    </div>
{% endif %}

<div class="row mb-5">
    <div class="col col-12 col-lg-6">
        <h2>Minedrift</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'bcsim:mine' %}" method="post">
                    {% csrf_token %}
                    {{ mine_form|crispy }}
                    {% if current_hash %}
                        {% if valid_proof %}
                            <p class="alert alert-success">
                                Hash: <br>
                                <small>{{ current_hash }}</small>
                            </p>
                        {% else %}
                            <p class="alert alert-danger">
                                Hash: <br>
                                <small>{{ current_hash }}</small>
                            </p>
                        {% endif %}
                    {% endif %}              
                    <div class="d-flex justify-content-center">
                        <button type="submit" name="calculate_hash" class="btn btn-outline-primary my-2">Beregn hash</button>
                    </div>
                    {% if valid_proof %}
                        <div class="d-flex justify-content-center mt-2">      
                            <button type="submit" name="add_to_chain" class="btn btn-primary">Tilføj til blokkæde</button>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>       
    </div> 

    <!-- Col with options for "hosts" -->
    <div class="col col-12 col-lg-6 mt-5 mb-3 my-lg-0">
        <h2>Blokke i kæden</h2>
        {% for block in blocks %}
            <div class="card mb-2 py-3 pl-2">
                <p class="pb-1 mb-1">Block ID: {{ block.block_num }}</p> 
                <p class="pb-1 mb-1">Miner: {{ block.miner_id }}</p>
                <p class="pb-1 mb-1">Nonce: {{ block.nonce }}</p>
                {% comment %} <p class="pb-1 mb-1">Blockchain: {{ block.blockchain }}</p> {% endcomment %}
                <p class="pb-1 mb-1">Created: {{ block.created_at|date:"d.m.Y" }} {{ block.created_at|time:"H:i:s" }}<br>
                <p class="pb-1 mb-0">Previous hash: <small>{{ block.prev_hash }}</small></p>
            </div>
        {% endfor %}
    </div>
</div> 

{% comment %} 
{% if request.session.market_id %}
<script>
    // if client has already joined a game, fill out name field
    document.getElementById('id_name').value = "{{ request.session.username }}"
</script>
{% endif %} {% endcomment %}

{% endblock %}