{% extends "bcsim/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Minedrift{% endblock %}


{% block content %}

{% if blockchain.is_paused %}
    <p class="alert alert-dark">
        Minedrift er sat på pause af skaberen af denne blockchain
    </p>
{% endif %}

<p class="alert alert-dark d-none" id="verification-delay-info">
    Kontrollerer hash...
</p>

{% include 'bcsim/page_header.html' %}

{% if miner.is_creator %}
    <form action="{% url 'bcsim:toggle_pause' %}" method="POST">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary">
                {% if blockchain.is_paused %}
                    Genstart minedrift
                {% else %}
                    Sæt minedrift på pause
                {% endif %}
            </button>
        </div>
    </form>
{% endif %}

<div class="col col-12 col-lg-6 pl-0 mt-5">
    <div class="alert alert-secondary">
        <b>Proof of work:</b>
        {% if blockchain.difficulty == blockchain.Level.EASY %}
            Gyldige hashes starter med 0 eller 1
        {% elif blockchain.difficulty == blockchain.Level.MEDIUM %}
            Gyldige hashes starter med 0
        {% elif blockchain.difficulty == blockchain.Level.DIFFICULT %}
            Gyldige hashes starter med 00
        {% endif %}
    </div>
</div>

<div class="row mb-5">
    <div class="col col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                Minedrift 
            </div>            
            <div class="card-body">
                <p class="pb-1 mb-1">Blok #{{ next_block.block_num }}</p> 
                <p class="pb-1 mb-1">Minearbejder: {{ miner.name }}</p>
                <p class="pb-1 mb-1">Seneste hash: <small>{{ next_block.prev_hash }}</small></p>
                <p class="pb-1 mb-1">
                    Payload: {{ payload_to_show|safe }}
                </p>
                <form action="{% url 'bcsim:mine' %}" method="post" id="mine_form" novalidate autocomplete="off">
                    {% csrf_token %}
                    {{ form|crispy }}                       
                </form>
        
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-outline-primary mr-2" type="button" id="add_to_chain_btn" onclick ="add_to_chain_btn_handler()">
                        Tilføj til blockchain
                    </button>
                    <button class="btn btn-outline-primary mr-2" type="button" onclick="calculate_hash()"
                                id="calculate_hash_btn">
                        Beregn hash
                    </button>
                    <button class="btn btn-outline-primary mr-2" onclick="plus_one()">
                        +1 
                    </button>
                    <button class="btn btn-outline-primary mr-2" onclick="minus_one()">
                        -1 
                    </button>
                    <button class="btn btn-outline-primary" onclick="reload();">
                        &#x21bb 
                    </button> 
                </div>
            </div>
        </div>   
        <p class="alert border mt-2 d-none" id="hash-div">
            Beregnet hash (block #{{ next_block.block_num }}, nonce {{ next_block.nonce }})<br>
            <small id="hash">{{ cur_hash }}</small>
        </p>

        <!-- The queue of waiting transactions -->
        {% if blockchain.has_tokens %}
        <h5 class="mt-5">Kommende transaktioner</h5>
            {% if unprocessed_transactions.count > 1 %}
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped">
                        {% for transaction in unprocessed_transactions %}
                            {% if forloop.counter > 1 %}
                                <tr>   
                                    <td>&nbsp&nbsp{{ transaction.payload_str|safe }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <i>Der er pt. ingen transaktioner i kø</i>
            {% endif %}
        {% endif %}
        
    </div> 

    <!-- Column with list of all blocks in blockchain" -->
    <div class="col col-12 col-lg-6 mt-5 mb-3 my-lg-0" id="block-list">
        {% include 'bcsim/block_list.html' %}
    </div>

    <!-- HTMX: Update above list every every x seconds. --> 
    <div 
        hx-get="{% url 'bcsim:block_list' %}"
        hx-trigger="every 2s"
        hx-target="#block-list">
    </div>
</div> 


<form action="" method="GET" id="reload_form"></form>

{% endblock %} 


{% block javascript %}


<!-- Import crypto-js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

<!-- Load python variables -> javascript -->
{{ miner.name|json_script:"miner_name" }}
{{ next_block.block_num|json_script:"block_num" }}
{{ next_block.prev_hash|json_script:"prev_hash" }}
{{ payload_str_for_hash|json_script:"payload_str_for_hash" }}
{{ cur_hash|json_script:"calculated_hash_from_backend"}}

<script>

    function reload(){
        // Perhaps this should only be refresh of mine-card
        document.getElementById("reload_form").submit()
    }


    function insertAfter(referenceNode, newNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }


    function create_styled_error_message_element(){
        /*
        This non-optimal hack will create the following hidden element under the nonce-input field
        
        <p id="js-error-message" class="invalid-feedback">
            <strong>Nonce skal være et ikke-negativt heltal på max 4294967295 (32-bit)
            </strong>
        </p>
        */
        var el = document.createElement("p");
        el.classList.add('invalid-feedback')
        el.classList.add('d-none')
        el.setAttribute("id","js-error-message");
        var s = document.createElement("strong")
        s.setAttribute("id","js-error-message-text");
        var textToAdd = document.createTextNode("Error message");
        s.appendChild(textToAdd);
        el.appendChild(s);

        var nonceInputField = document.getElementById("id_nonce");

        insertAfter(nonceInputField, el);
    }

    
    function show_potential_hash_from_backend(){
        const calculated_hash_from_backend= JSON.parse(document.getElementById('calculated_hash_from_backend').textContent);
        if (calculated_hash_from_backend){
            document.getElementById("hash").innerHTML = calculated_hash_from_backend
            document.getElementById("hash-div").classList.remove("d-none")
        }    
    }
    
    function copy_link(id) {
        var link_text = document.getElementById(id);
        link_text.select();
        link_text.setSelectionRange(0, link_text.value.length);
        document.execCommand("copy")
    }
    
    function add_to_chain_btn_handler(){
        potential_hash_error_message = document.getElementsByClassName('alert')[0]
        potential_hash_error_message.classList.add("d-none")
        document.getElementById('verification-delay-info').classList.remove('d-none')
        // submit mine form
        document.getElementById('mine_form').submit()
    }

    function plus_one(){
        var nonce_input = document.getElementById("id_nonce");
        if (!nonce_input.value){
            nonce_input.value = -1;
        }
        nonce_input.value = parseInt(nonce_input.value) + 1;
        //document.getElementById('calculate_hash_btn').click()
 
    }
    function minus_one(){
        var nonce_input = document.getElementById("id_nonce");
        if (!nonce_input.value){
            nonce_input.value = 1;
        }
        nonce_input.value = parseInt(nonce_input.value) - 1; 
        //document.getElementById('calculate_hash_btn').click()
    }


    

    function isInt(value) {
        return !isNaN(value) && 
               parseInt(Number(value)) == value && 
               !isNaN(parseInt(value, 10));
    }

    function showErrors(){

        // Hide div showing calculated hash
        document.getElementById("hash-div").classList.add("d-none")
        
        // Make border around nonce input field red   
        document.getElementById('id_nonce').classList.add("is-invalid");

        // Show error message
        document.getElementById('js-error-message').classList.remove("d-none");
    }

    function calculate_hash(){
    
        const block_num = JSON.parse(document.getElementById('block_num').textContent);
        const miner_name = JSON.parse(document.getElementById('miner_name').textContent);
        const prev_hash = JSON.parse(document.getElementById('prev_hash').textContent);
        const payload_str_for_hash = JSON.parse(document.getElementById('payload_str_for_hash').textContent);
        var nonce = document.getElementById("id_nonce").value
        to_be_hashed = `${block_num}${miner_name}${prev_hash}${payload_str_for_hash}${nonce}`        

        document.getElementById("hash-div").classList.remove("d-none")

        if (document.getElementById("error_1_id_nonce")){
            document.getElementById('error_1_id_nonce').classList.add("d-none")
        }


        if(!payload_str_for_hash){
            document.getElementById('js-error-message-text').innerHTML="Der er pt. ingen transaktioner at mine"
            showErrors()
        }

        else if (nonce == ""){
            document.getElementById('js-error-message-text').innerHTML="Du skal angive Nonce"
            showErrors()
        }

        else if (!isInt(nonce)){
            document.getElementById('js-error-message-text').innerHTML="Nonce skal være et heltal"
            showErrors()
        }

        else if (nonce < 0){
            document.getElementById('js-error-message-text').innerHTML="Nonce må ikke være mindre end 0"
            showErrors()
        }

        else if (nonce > 4294967295){
            document.getElementById('js-error-message-text').innerHTML="Nonce må ikke være større end max 4294967295 (32-bit)"
            showErrors()
        } 

        else{
            // Remove red border around nonce input field    
            document.getElementById('id_nonce').classList.remove("is-invalid");

            // Calculate hash & place hash in innerHTML
            hash = CryptoJS.SHA256(to_be_hashed).toString(CryptoJS.enc.Hex);
            document.getElementById('hash').innerHTML = hash;

            // Remove error message
            document.getElementById('js-error-message').classList.add("d-none");

        }        
    } 
   
    show_potential_hash_from_backend()
    create_styled_error_message_element()

    window.addEventListener("keydown", function(e) {
        if(["ArrowUp","ArrowDown"].indexOf(e.code) > -1) {
            console.log("hey")
            e.preventDefault();
        }
    }, false);

    window.onkeydown = function(event){
        keyCode = event.keyCode 
        
        // Reload on 'R' or right-arrow
        if (keyCode == 82 || keyCode == 39){
            reload()
        }

        // Click calculate hash button on 'B' or left-arrow
        if (keyCode == 37 || keyCode == 66){
            calculate_hash_button = document.getElementById('calculate_hash_btn')
            calculate_hash_button.click()
        }

        // Click add to chain button 'T' or shift
        if (keyCode == 16 || keyCode == 84){
            add_to_chain_button = document.getElementById('add_to_chain_btn')
            add_to_chain_button.click()
        }    

        if(event.target.nodeName.toLowerCase() !== 'input'){
            // Add 1 to nonce on up-arrow 
            if (keyCode == 38){
                plus_one()
            }
            // Subtract 1 fron nonce on down-arrow
            if (keyCode == 40){
                minus_one()
            }
        }
    };
    
</script>

{% endblock javascript %}
