{% extends "bcsim/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Minedrift{% endblock %}


{% block content %}

{% if blockchain.is_paused %}
    <p class="alert alert-dark">
        Minedrift er sat på pause af skaberen af denne blockchain
    </p>
{% endif %}

<p class="alert alert-dark d-none" id="verification-delay-info">
    Kontrollerer hash...
</p>

<h4 class="mb-4"><span class="text-black-50">Blockchain [{{ blockchain.id }}]</span>: {{ blockchain.title }}</h4>      

{% if miner.is_creator %}
    <form action="{% url 'bcsim:toggle_pause' %}" method="POST">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary">
                {% if blockchain.is_paused %}
                    Genstart minedrift
                {% else %}
                    Sæt minedrift på pause
                {% endif %}
            </button>
        </div>
    </form>
{% endif %}

<p>
    <i>
        {% if blockchain.difficulty == blockchain.Level.EASY %}
            Gyldige hashes starter med 0 eller 1
        {% elif blockchain.difficulty == blockchain.Level.MEDIUM %}
            Gyldige hashes starter med 0
        {% elif blockchain.difficulty == blockchain.Level.DIFFICULT %}
            Gyldige hashes starter med 00
        {% endif %}
    </i>
</p>


<div class="row mb-5">
    <div class="col col-12 col-lg-6">
       
        <div class="card">
            <div class="card-header">
                Minedrift 
            </div>            
            <div class="card-body">
                <p class="pb-1 mb-1">Blok #{{ next_block.block_num }}</p> 
                <p class="pb-1 mb-1">Minearbejder: <span class="px-3" style="background-color: {{ miner.color}}">{{ miner.name }}</span></p>
                <p class="pb-1 mb-1">Seneste hash: <small>{{ next_block.prev_hash }}</small></p>
                <p class="pb-1 mb-1">Payload: {{ next_block.payload_str }} </p>

                    <form action="{% url 'bcsim:mine' %}" method="post" id="mine_form" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="hidden" name="submit-purpose" value="true" id="submit-purpose">
                    </form>

                    <div class="d-flex justify-content-center">
                        
                        <button class="btn btn-outline-primary mr-2" type="button" id="add_to_chain_btn" onclick ="add_to_chain_btn_handler()">
                            Tilføj til blockchain
                        </button>
                        <button class="btn btn-outline-primary mr-2" type="submit" form="mine_form" 
                                  id="calculate_hash_btn">
                            Beregn hash
                        </button>
                        <button class="btn btn-outline-primary" onclick="plus_one()">
                            +1 
                        </button>
              
                    </div>
            
            </div>
        </div>   
        {% if cur_hash %}
            <p class="alert border mt-2">
                Beregnet hash (block #{{ next_block.block_num }}, nonce {{ next_block.nonce }})<br>
                <small>{{ cur_hash }}</small>
            </p>
      
        {% endif %}    
    </div> 

    <!-- Column with list of blocks in chain" -->
    <div class="col col-12 col-lg-6 mt-5 mb-3 my-lg-0" id="block-list">
        {% include 'bcsim/block_list.html' %}
    </div>

    <!-- HTMX: Update above list every every x seconds. --> 
    <div 
        hx-get="{% url 'bcsim:block_list' %}"
        hx-trigger="every 1s"
        hx-target="#block-list">
    </div>
</div> 

<h2>Ventende transaktioner</h2>
<div class="table-responsive">
    <table class="table table-sm table-striped" >
        <thead>
            <tr>
                <th>Sender</th>
                <th>Modtager</th>
                <th>Beløb</th>
                <th>Token</th>
            </tr>
        </thead>
        {% for transaction in transactions %}
            <tr>   
                <td>{{ transaction.sender }}</td>
                <td>{{ transaction.recipient.name }}</td>
                <td>{{ transaction.amount }} </td>
                <td>{{ transaction.token.svg|safe }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}


{% block javascript %}

<script>

    function copy_link(id) {
        var link_text = document.getElementById(id);
        link_text.select();
        link_text.setSelectionRange(0, link_text.value.length);
        document.execCommand("copy")
    }
    
    function add_to_chain_btn_handler(){
        potential_hash_error_message = document.getElementsByClassName('alert')[0]
        potential_hash_error_message.classList.add("d-none")
        document.getElementById('verification-delay-info').classList.remove('d-none')
        document.getElementById('submit-purpose').name = "add_to_chain"
        document.getElementById('mine_form').submit()
    }

    function plus_one(){
        var nonce_input = document.getElementById("id_nonce");
        if (!nonce_input.value){
            nonce_input.value = -1;
        }
        nonce_input.value = parseInt(nonce_input.value) + 1; 
    }
    function minus_one(){
        var nonce_input = document.getElementById("id_nonce");
        if (!nonce_input.value){
            nonce_input.value = 1;
        }
        nonce_input.value = parseInt(nonce_input.value) - 1; 
    }

    function add_eventlisteners() {
        // Disable default window scrolling on up-arrow key
        window.addEventListener("keydown", function(e) {
                if ([38].indexOf(e.keyCode) > -1) {
                    e.preventDefault();
                }
            },
            false
        ); 
        // Eventlisteners for arrow keys 
        document.addEventListener('keydown', event => {
            switch(event.keyCode){
                case 38: // up arrow
                    plus_one();
                    break
                case 40: // down arrow
                    minus_one();
                    break
                case 66: // B
                    document.getElementById('calculate_hash_btn').click()
                    break
                case 84: // T
                    document.getElementById('add_to_chain_btn').click()
                    break
            }
        })
    }
    add_eventlisteners()
    
</script>

{% endblock javascript %}
