{% extends "bcsim/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Deltagere{% endblock %}

{% block content %}

{% include 'bcsim/page_header.html' %}

{% include 'bcsim/business_card.html' %}

<div class="row">
    <div class="col col-12 col-lg-6">
        <h6>Inviter nye deltagere/hold til denne blockchain</h6>
        <div class="d-flex mb-4">
            <input class="form-control rounded-0" type="text" 
                value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% url 'bcsim:home' %}?blockchain_id={{ blockchain.id }}" id="join_link" style="width:350px">
            <button class="btn btn-outline-primary btn-sm rounded-0" onclick="copy_link('join_link')">Kopier</button>
        </div>
    </div>

    <div class="col col-12 col-lg-6">    
        <h6>Inviter deltagere til dit hold ("{{ miner.name }}")</h6>
        <div class="d-flex mb-5">
            <input class="form-control rounded-0" type="text" 
                value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% url 'bcsim:home' %}?blockchain_id={{ blockchain.id }}&miner_id={{ miner.id }}" id="join_team_link" style="width:350px">
            <button class="btn btn-outline-primary btn-sm rounded-0" onclick="copy_link('join_team_link')">Kopier</button>
        </div>
    </div>
</div>

<h5 class="mt-3">Minearbejdere</h5>
<div class="table-responsive">
    <table class="table mb-5" id="trader_status_table"> 
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Navn</th>
                <th scope="col">Antal minede blokke</th>
                <th scope="col">Saldo</th>
                {% if blockchain.has_tokens %}
                    <th scope="col">Tokens</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for miner in miners %}
                {% if miner.name == client.name %}
                    <tr style="background-color: {{ miner.color }}">
                {% else %}
                    <tr>
                {% endif %}                   
                    <th class="align-middle" scope="row">{{ forloop.counter }}</th>
                    <td class="align-middle">{{ miner.name }} </td>
                    <td class="align-middle">{{ miner.num_mined_blocks }} </td>
                    <td class="align-middle">{{ miner.balance }}</td>
                    {% if miner.blockchain.has_tokens %}
                        <td>
                            {% if miner.tokens %}
                                {% for token in miner.tokens %}
                                    {{ token.small_svg|safe}}
                                {% endfor %}
                            {% else %}
                                <i>Ingen tokens</i>
                            {% endif %}
                        </td>
                    {% endif %}
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if blockchain.has_tokens %}
    <p>NFT-banken har solgt tokens for i alt <b>{{ blockchain.get_bank.balance }}</b> DIKU-coins.</p>
{% endif %}

{% endblock content %}



{% block javascript %}

<script>
    function copy_link(id) {
        var link_text = document.getElementById(id);
        link_text.select();
        link_text.setSelectionRange(0, link_text.value.length);
        document.execCommand("copy")
    }
</script>

{% endblock %}