{% extends "bcsim/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Mine{% endblock %}

{% block content %}

<h4 class="mb-4"><span class="text-black-50">Blokkæde [{{ blockchain.id }}]</span>: {{ blockchain.title }}</h4>      

<h5>Minearbejdere</h5>
<div class="table-responsive">
    <table class="table mb-5" id="trader_status_table"> 
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Navn</th>
                <th scope="col">Antal blokke</th>
                <th scope="col">Saldo</th>
            </tr>
        </thead>
        <tbody>
            {% for miner in miners %}
                {% if miner.name == client_miner_name %}
                    <tr style="background-color: {{ miner.color }}">
                {% else %}
                    <tr>
                {% endif %}                   
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ miner.name }} </td>
                    <td>{{ miner.num_mined_blocks }} </td>
                    <td>{{ miner.balance }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}