[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "==1.9.2"
gunicorn = "*"
Django = "~=3.2"
factory-boy = "*"
pycodestyle = "*"
autopep8 = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
django-extensions = "*"

[requires]
python_version = "3.9"
sqlparse = ">=0.4.2"

[pipenv]
allow_prereleases = true
